# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\githubnew\PE\e3.exe破解\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
